{% extends 'base.html.twig' %}

{% block title %}Followers index{% endblock %}

{% block body %}
    <h1>Followers index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Id_users</th>
                <th>Id_users_followers</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for follower in followers %}
            <tr>
                <td>{{ follower.id }}</td>
                <td>{{ follower.idUsers }}</td>
                <td>{{ follower.idUsersFollowers }}</td>
                <td>
                    <a href="{{ path('followers_show', {'id': follower.id}) }}">show</a>
                    <a href="{{ path('followers_edit', {'id': follower.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('followers_new') }}">Create new</a>
{% endblock %}
