{% extends 'base.html.twig' %}

{% block title %}Followers{% endblock %}

{% block body %}
    <h1>Followers</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ follower.id }}</td>
            </tr>
            <tr>
                <th>Id_users</th>
                <td>{{ follower.idUsers }}</td>
            </tr>
            <tr>
                <th>Id_users_followers</th>
                <td>{{ follower.idUsersFollowers }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('followers_index') }}">back to list</a>

    <a href="{{ path('followers_edit', {'id': follower.id}) }}">edit</a>

    {{ include('followers/_delete_form.html.twig') }}
{% endblock %}
