{% extends 'base.html.twig' %}

{% block title %}Medias{% endblock %}

{% block body %}
    <h1>Medias</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ media.id }}</td>
            </tr>
            <tr>
                <th>Url_medias</th>
                <td>{{ media.urlMedias }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('medias_index') }}">back to list</a>

    <a href="{{ path('medias_edit', {'id': media.id}) }}">edit</a>

    {{ include('medias/_delete_form.html.twig') }}
{% endblock %}
