{% extends 'base.html.twig' %}

{% block title %}SavedPosts index{% endblock %}

{% block body %}
    <h1>SavedPosts index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Id_posts</th>
                <th>Id_users</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for saved_post in saved_posts %}
            <tr>
                <td>{{ saved_post.id }}</td>
                <td>{{ saved_post.idPosts }}</td>
                <td>{{ saved_post.idUsers }}</td>
                <td>
                    <a href="{{ path('saved_posts_show', {'id': saved_post.id}) }}">show</a>
                    <a href="{{ path('saved_posts_edit', {'id': saved_post.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('saved_posts_new') }}">Create new</a>
{% endblock %}
