{% extends 'base.html.twig' %}

{% block title %}SavedPosts{% endblock %}

{% block body %}
    <h1>SavedPosts</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ saved_post.id }}</td>
            </tr>
            <tr>
                <th>Id_posts</th>
                <td>{{ saved_post.idPosts }}</td>
            </tr>
            <tr>
                <th>Id_users</th>
                <td>{{ saved_post.idUsers }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('saved_posts_index') }}">back to list</a>

    <a href="{{ path('saved_posts_edit', {'id': saved_post.id}) }}">edit</a>

    {{ include('saved_posts/_delete_form.html.twig') }}
{% endblock %}
